{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="flex">
            <div>
                <ul>
                    <li><a href="{{ path('profile') }}">Profil</a></li>
                    <li><a href="{{ path('profile.liked_articles') }}">Articles aimés</a></li>
                    <li><a href="{{ path('profile.shared_articles') }}">Articles partagés</a></li>
                    <li><a href="{{ path('profile.comment_articles') }}">Articles commentés</a></li>
                </ul>
            </div>
            <div>
                <section class="articles">
                    <h1>Article Aimés</h1>

                    {% for liked_article in last_liked_articles %}
                        <hr>
                        <a href="{{path('article_show', {'id': liked_article.article.id})}}">

                            <article class="article">
                                <h3>{{liked_article.article.title}}</h3>
                                <h5>{{liked_article.article.subtitle}}</h5>
                                <div class="metadate">Ecrit le
                                    {{liked_article.article.creationDate | date('d/m/Y')}}
                                    à
                                    {{liked_article.article.creationDate | date('H:i')}}
                                    dans la categorie:
                                    {{liked_article.article.category.name}}</div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <img src='{{liked_article.article.picturePath}}' , style="width:200px;height:130px;">
                                    </div>
                                    <div class="col-md-8">
                                        {{liked_article.article.content | raw}}
                                        {# <a href="{{path('', {'id': article.id})}}" class="btn btn-outline-info">... Lire la suite</a> #}
                                    </div>
                                </div>
                            </article>
                        </a>
                    {% endfor %}
                </section>
                <style>
                    .article {
                        padding: 10px;
                    }
                    a {
                        color: inherit;
                        cursor: pointer;
                        text-decoration: none;
                    }
                    .article:hover {
                        /*color: #bdaa77;*/
                        background-color: #D5F5E3;
                    }
                </style>
            </div>
        </div>
    </div>
{% endblock %}
