<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<img
	src="https://i2.wp.com/www.lyc-lecorbusier-cormeilles.ac-versailles.fr/wp-content/uploads/sites/63/2019/01/blog-logo-animated_720x342.gif?zoom=1.5&fit=720%2C342" , style="width:180px;height:80px;"/>
	{# <a class="navbar-brand" href="#"> FJT</a> #}

	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>

	<div class="collapse navbar-collapse" id="navbarColor02">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="{{path('article_index')}}">&nbsp &nbsp &nbsp ADMIN
					<span class="sr-only">(current)</span>
				</a>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="{{path('article_home')}}">&nbsp &nbsp &nbsp ARTICLES
				</a>
			</li>

			<li class="nav-item">
				<a class="nav-link" href="{{path('propos')}}">A PROPOS</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('contact')}}">CONTACT</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">CREER UN COMPTE</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{path('article_new')}}">CREER UN ARTICLE</a>
			</li>
		</ul>
		{% if app.user %}
			<ul class="navbar-nav push-right mx-5">
				<li class="nav-item">
					<a class="nav-link" href="{{path('app_logout')}}">DECONNEXION</a>
				</li>
			</ul>
		{% else %}
			<ul class="navbar-nav push-right mx-5">
				<li class="nav-item">
					<a class="nav-link" href="{{path('app_login')}}">CONNEXION</a>
				</li>
			</ul>
		{%  endif  %}

	</div>
</nav>
