{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
<div class="row">
    <div class="col-3" style='border: 5px; padding: 20px; background-color: #3B5145;'> Recherche
{#    
  {{ form_start(form, {attr: {class: 'filter js-filter-form'}}) }} 
    <div class="spinner-border js-loading" role="status" aria-hidden="true" style="display: none">
    <span class="sr-only">Loading...</span>  </div>

            {{ form_row(form.q) }}
           <h4>Catégories</h4>
            {{ form_row(form.categories) }}
            <button type="submit" class="btn btn-primary w-100">Filtrer</button>
            {{ form_end(form) }}#}
    </div> 

    <div class="col-9" style='border: 5px; padding: 20px; background-color: #D5F5E3;'>
        <section class="articles">
        {% for article in articles %}
        <hr>
            <article>
                <h3>{{article.title}}</h3>
                <h5>{{article.subtitle}}</h5>
                {# <div class="metadate">Ecrit le {{article.creationDate | date('d/m/Y')}} à {{article.creationDate | date('H:i')}} dans la categorie: {{article.category.name}}</div> #}
                <div class="metadate">Ecrit le {{article.creationDate | date('d/m/Y')}}, by {{article.author}} à {{article.creationDate | date('H:i')}}, 
                Categorie:  {{article.category.name}}  </div>
                <div class="row">
                    <div class="col-md-3">
                    <img src='{{article.picturePath}}', style="width:200px;height:130px;">
                    </div>
                    <div class="col-md-9">
                    {{article.content | raw}}
                    <a href="{{path('default_show', {'id': article.id})}}" class="btn btn-outline-info">... Lire la suite</a>
                    </div>
                </div>
                
            </article>
        {% endfor %}
       
    </section>

      <hr>
            <div class="pagination float-center"> 
                {{knp_pagination_render(articles)}}
            </div>
      
     
    </div>
     
 
</div>
       

</div>
{% endblock %}
