{% extends 'base.html.twig' %}


{% block body %}
    <article>
        <h2>{{article.title}}</h2>
        <div class="metadate">Ecrit le {{article.creattionDate | date('d/m/Y')}} à {{article.creattionDate | date('H:i')}} dans la category {{article.category.name}}</div>
        <div class="content">
            <img src="{{article.image}}" alt="">
            <br>
            {{article.content | raw}}
         </div>
    </article>
     <section id="commentaire">
        <h3> {{article.comments | length}} Commentaires</h3>
        {% for comment in article.comments %}
            <div class="comment">
                <div class="row">
                    <div class="col-3">
                  <small>{{comment.Date | date('d/m/Y à H:i')}}</small>)
                    </div>

                    <div class="col">
                    {{comment.content | raw}}
                    </div>
                </div>
            </div>
        {% endfor %}

{# {% if app.user %} #}
        {# {{form_start(Form)}}
            {{form_row(Form.user, {'attr': {'placehold':'Votre nom'}})}}
            {{form_row(Form.content, {'attr': {'placehold':'Votre commentaire'}})}}
             <button type="submit" class="btn btn-success"> Send</button>
            {{form_end(Form)}}  #}
{# {% else %} #}
<h4> Attention: Vous ne pouvez pas commenter si vous ne vous authentifiez pas sur le site ! </h4>

{% endif %}
    </section>

{% endblock body %}
