{% extends 'base.html.twig' %}


{% block body %}
	<div class="container">
		<section class="articles">
			{% for article in articles %}
				<hr>
				{#{% if  %}
									<a href="{{path('article_show', {'id': article.id})}}">
									{% endif %}
									#}
				<article class="article">
					<h3>{{article.title}}</h3>
					<h5>{{article.subtitle}}</h5>
					<div class="metadate">Ecrit le
						{{article.creationDate | date('d/m/Y')}}
						à
						{{article.creationDate | date('H:i')}}
						dans la categorie:
						{{article.category.name}}</div>
					<div class="row">
						<div class="col-md-4">
							<img src='{{article.picturePath}}' , style="width:200px;height:130px;">
						</div>
						<div class="col-md-8">
							{{article.content | raw}}
							{# <a href="{{path('', {'id': article.id})}}" class="btn btn-outline-info">... Lire la suite</a> #}
						</div>
					</div>
				</article>
			</a>
		{% endfor %}
	</section>
	<style>
		.article {
			padding: 10px;
		}
		a {
			color: inherit;
			cursor: pointer;
			text-decoration: none;
		}
		.article:hover {
			/*color: #bdaa77;*/
			background-color: #D5F5E3;
		}
	</style>
</div>{% endblock %}
