{% extends 'base.html.twig' %}

{% block title %}Index des articles
{% endblock %}

{% block body %}
	<div style='border: 5px; padding: 20px; background-color: #D5F5E3;'>
		<h3>Tous les articles</h3>

		<table class="table table-bordered table-hover table-responsive-lg">
			<thead>
				<tr>

					<th>Date de création</th>
					<th>Titre</th>
					<th>Sous-titres</th>
					<th>Auteur</th>
					<th>Contenu</th>
					<th>Etat</th>
					<th>Lien vers image</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for article in articles %}
					<tr>

						<td>{{ article.creationDate ? article.creationDate|date('Y-m-d H:i:s') : '' }}</td>
						<td>{{ article.title }}</td>
						<td>{{ article.subtitle }}</td>
						{% if article.autor != null %}
							<td>{{ article.autor.firstname }}
								{{ article.autor.lastname }}</td>
						{% else %}
							<td>Utilisateur non-enregistré</td>
						{% endif %}


						<td>{{ article.content }}</td>
						<td>{{ article.state ? 'Yes' : 'No' }}</td>
						<td>{{ article.picturePath }}</td>
						<td>
							<a href="{{ path('article_show', {'id': article.id}) }}">Afficher</a>
							<a href="{{ path('article_edit', {'id': article.id}) }}">Editer</a>
							<a href="{{ path('article_delete', {'id': article.id}) }}">Supprimer</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="8">Nous n'avons rien trouvé</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>


	</div>
{% endblock %}
